

Form {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
    border-radius: 5px;
    padding: 10px;
    
}

Form h1 {
    text-align: center;
    color: #020281;
    font-size: 40px;
}
.mb-3 {
    padding: 15px;
    font-size: 20px;
}

.text-muted {
    font-size: 12px;
}
input {
    display: block;
    width: 90%;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    
}

textarea {
    display: block;
    width: 90%;
    border-radius: 5px;
    padding: 5px;
    height: 80px;
}

Button {
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #012b01;
    width: 20%;
    background: transparent;
    color: #020281;
    margin-left: 2%;
}

Button:hover {
    background: #020281;
    color: #fff;
    cursor: pointer;
}

