/* Custom Styles */
.intro {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    height: 50%;
    width: 100%;

}

.brand {
    margin-left: 2.5%;
    
}

.brand h1 {
    font-size: 60px;
    margin-top: 3%;
    color: #012b01;
}

.brand h4 {
    color: #020281;
    margin-top: 3%;
}

.brand p {
    margin-top: 3%;
}

.brand button {
    padding: 2%;
    border-radius: 5px;
    border: 1px solid #012b01;
    margin-top: 3%;
    width: 25%;
    background: transparent;
    color: #020281;
    margin-left: 0;
}


.brand button:hover {
    background: #020281;
    color: #fff;
    cursor: pointer;
}

.image img {
    width: 60%;
    opacity: 0.8;
    margin-left: 38%;
    margin-right: 2.5%;
    padding: 5px;

}

.about {
    display: flex;
    margin-top: 5%;
    flex-direction: column;
    height: 35%;
    width: auto;
    padding: 10px;
    margin-left: 18%;
}


.about h1 {
    font-size: 40px;

}

.about p {
   margin-top: 1%;
   line-height: 1.5rem;
}

/*Media query for smaller screens*/
@media only screen and (max-width: 900px) {
    .image img {
        margin-left: 25%;
        width: 70%;
    }
    
    .about {
        margin-left: 2.5%;
    }

    .btn {
        margin-left: 5%;
    }

}
