
footer {
    display: flex;
    align-items: center;
    justify-content: right;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 2px;
    padding: 7px;
}

footer>:not(:first-child) {
    margin-left: 15px;
}