/* RESETS */

* {
    margin: 0;
    padding: 0;
}


html, body {
    box-sizing: border-box;
    width: 100%;
}

html {
    background-image: url()
}

.container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 1.3rem;
}

.link {
    color: black;
    text-decoration: none;
    margin-right: 2.5%;
   

}

.active {
    text-decoration: underline;
}