/* RESETS */

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

.container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightseagreen;
    height: 60px;
    width: 100%;
}

.link {
    color: black;
    margin-right: 5%;
    text-decoration: none;
    padding-right: 5%;

}

.active {
    text-decoration: underline;
}